:root {
    --color-lemon-grass: #A59D84;
    --color-coral-reef: #C1BAA1;
    --color-pastel-grey: #D7D3BF;
    --color-green-white: #ECEBDE;
    --color-spring-wood: #f7f6f3;
}

body {
    background-color: var(--color-spring-wood);
}