@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-lemon-grass: #A59D84;
    --color-coral-reef: #C1BAA1;
    --color-pastel-grey: #D7D3BF;
    --color-green-white: #ECEBDE;
    --color-spring-wood: #f7f6f3;
}

body {
    background-color: var(--color-spring-wood);
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}